[Unit]
Description=OpenStack SSH certificates and bastions
After=syslog.target network.target

[Service]
Type=simple
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=tatu
ExecStart=/usr/bin/tatu

[Install]
WantedBy=multi-user.target